---
layout: default
---
  <div class="section no-pad-bot" id="index-banner">
   <div class="container">
     <div class="row">

<div class="col l7 offset-l1 center">
      <h3 class="header center">Ki nyerne most vasárnap?</h3>
	 <h5 class="header center">Előrejelzés a 2022-es választásra</h5>
    </div>
     
      </div>
	  </div>

	  
  <div class="container">
	  
	
      <div class="row">
	    <div class="col l2"></div>
        <div class="col l8 card light-green lighten-4">
        
<div class="card-content">
          <span class="center card-title">Az oldal célja</span>
          <p>Ez az oldal előrejelzést ad arról, hogy éppen a Fidesz vagy az egyesült ellenzék áll-e nyerésre az országos közvélemény-kutatások alapján, ha most vasárnap rendeznék a 2022 tavaszi országgyűlési választást. 
		  Az országos összesítést Tóka Gábor modellje alapján készítem, majd az egyéni választókerütek várható eredményével súlyozom. Részletek Tóka Gábor összesítéséről a <a href="https://kozvelemeny.wordpress.com/">kozvelemeny.wordpress.com blogján</a> elérhetők. A saját modellemről a </p>
		  <br/>
           <p>Ez az oldal a 2018-ban indult <a href="https://taktikaiszavazas.hu">taktikaiszavazas.hu</a> testvéroldala.</p>
        </div>     
        </div>

		
    </div>
	</div> 
     
  <div class="container">
    <div class="row">
<div class="col s12">

<h5>Becsült szavazatarányok egy most vasárnapi országgyűlési választáson (egyéni jelöltre leadott szavazatok)</h5>
<br/>
<br/>
<br/>
<table class="bordered centered">
              <thead>
                <tr>
					<th></th>
                    <th>Fidesz-KDNP jelöltjei<img src="images/fideszkdnp_logo.png" style="width:55px;height:30px;"></th>
					<th>Közös ellenzék jelöltjei<img src="images/kozos_ellenzek_logo.png" style="width:180px;height:30px;"></th>
					<th>MKKP, Mi Hazánk és egyéb pártok jelöltjei</th>
                </tr>
              </thead>
              <tbody>
<tr><td>Százalék</td><td>47.6%</td><td>46.6%</td><td>5.8%</td></tr>
</tbody>  
  </table>	



<br/>
<h5>Mandátumok eloszlása</h5>
 <table class="bordered centered">
              <thead>
                <tr>
                    <th>Fidesz-KDNP egyéni mandátumok</th>
					<th>Fidesz-KDNP listás mandátumok</th>
					<th>Fidesz-KDNP összes mandátum</th>
					<th>Közös ellenzék egyéni mandátumok</th>
					<th>Közös ellenzék listás mandátumok</th>
					<th>Közös ellenzék összes mandátum</th>
                </tr>
              </thead>
              <tbody>
<tr><td>62</td><td>47</td><td>109</td><td>44</td><td>46</td><td>90</td></tr>
</tbody>  
  </table>	

<br/>
<br/>

<h4>Most vasárnap a Fidesz-KDNP alakíthatna kormányt 109 mandátummal (10 fős többség)</h4>

<br/>
<br/>

<h5>Szoros választókerületek</h5>

<br/>

<p>Az alábbi választókerületekben 5%-nál kisebb a várható szavazatkülönbség a két jelölt között</p>

 <table class="bordered centered">
              <thead>
                <tr>
                    <th>Választókerület</th>
					<th>Fidesz-KDNP jelöltje</th>
					<th>Közös ellenzéki jelölt</th>
					<th>Várható szavazatarány és különbség</th>
                </tr>
              </thead>
              <tbody>
<tr><td></td><td></td><td></td><td></td></tr>
</tbody>  
  </table>	
 

</div>

  