---
layout: default
---
  <div class="section no-pad-bot" id="index-banner">
   <div class="container">
     <div class="row">

<div class="col l12 center">
      <h3 class="header center">Ki nyerne most vasárnap?</h3>
	 <h5 class="header center">Előrejelzés a 2022-es választásra</h5>
    </div>
     
      </div>
	  </div>

	  
  <div class="container">
	  
	
      <div class="row">
	    <div class="col l2"></div>
        <div class="col l8 card light-blue lighten-5">
        
<div class="card-content">
          <span class="center card-title">Az oldal célja</span>
          <p>Ez az oldal előrejelzést ad arról, hogy éppen a Fidesz vagy az egyesült ellenzék áll-e nyerésre az országos közvélemény-kutatások alapján, ha most vasárnap rendeznék a 2022 tavaszi országgyűlési választást. 
		  Az országos összesítést Tóka Gábor modellje alapján készítem, majd az egyéni választókerütek várható eredményével súlyozom. Részletek Tóka Gábor összesítéséről a <a href="https://kozvelemeny.wordpress.com/">kozvelemeny.wordpress.com blogján</a> elérhetők. A saját modellemről a </p>
		  <br/>
           <p>Ez az oldal a 2018-ban indult <a href="https://taktikaiszavazas.hu">taktikaiszavazas.hu</a> testvéroldala.</p>
        </div>     
        </div>

		
    </div>
	</div> 
     
  <div class="container">
    <div class="row">
<div class="col s12">

<h5>Becsült szavazatarányok egy most vasárnapi országgyűlési választáson (egyéni jelöltre leadott szavazatok)</h5>
<br/>
<br/>
<br/>
<table class="bordered centered">
              <thead>
                <tr>
                    <th>Fidesz-KDNP jelöltjei</th>
					<th>Közös ellenzék jelöltjei</th>
					<th>MKKP, Mi Hazánk és egyéb pártok jelöltjei</th>
                </tr>
              </thead>
              <tbody>
<tr><td>47,6%</td><td>46,6%</td><td>5,8%</td></tr>
</tbody>  
  </table>	



<br/>
<h5>Fidesz-KDNP mandátumai </h5>
 <table class="bordered centered">
              <thead>
                <tr>
                    <th>Egyéni mandátumok</th>
					<th>Listás mandátumok</th>
					<th>Összes mandátum</th>
					 </thead>
              <tbody>
			  <tr><td>62</td><td>47</td><td>109</td></tr>
			  </tbody> 
			  </table>		
					
	<h5>A közös ellenzék mandátumai </h5>
 <table class="bordered centered">
              <thead>
                <tr>				
					<th>Egyéni mandátumok</th>
					<th>Listás mandátumok</th>
					<th>Összes mandátum</th>
                </tr>
              </thead>
              <tbody>
<tr><td>44</td><td>46</td><td>90</td></tr>
</tbody>  
  </table>	

<br/>
<br/>

<h5 class="center"><strong>Most vasárnap a Fidesz-KDNP alakíthatna kormányt</strong> 109 mandátummal (10 fős többség)</h5>

<br/>
<br/>

<h5>Szoros választókerületek</h5>

<br/>

<p>Az alábbi választókerületekben 5%-nál kisebb a várható szavazatkülönbség a két jelölt között:</p>

 <table class="bordered centered">
              <thead>
                <tr>
                    <th>Választókerület</th>
					<th>Fidesz-KDNP szavazataránya</th>
					<th>Közös ellenzék szavazataránya</th>
					<th>Különbség (ellenzék szempontjából)</th>
                </tr>
              </thead>
              <tbody>
<tr>
<td >
PEST 7
</td>
<td >
44.65%
</td>
<td >
49.09%
</td>
<td >
4.44%
</td>
</tr>
<tr>
<td >
SOMOGY 1
</td>
<td >
45.53%
</td>
<td >
48.99%
</td>
<td >
3.47%
</td>
</tr>
<tr>
<td >
B&Eacute;K&Eacute;S 1
</td>
<td >
45.44%
</td>
<td >
48.28%
</td>
<td >
2.84%
</td>
</tr>
<tr>
<td >
PEST 6
</td>
<td >
45.73%
</td>
<td >
48.51%
</td>
<td >
2.78%
</td>
</tr>
<tr>
<td >
J&Aacute;SZ-NAGYKUN-SZOLNOK 4
</td>
<td >
45.07%
</td>
<td >
47.78%
</td>
<td >
2.71%
</td>
</tr>
<tr>
<td >
BORSOD-ABA&Uacute;J-ZEMPL&Eacute;N 4
</td>
<td >
45.44%
</td>
<td >
47.85%
</td>
<td >
2.41%
</td>
</tr>
<tr>
<td >
PEST 3
</td>
<td >
45.72%
</td>
<td >
48.01%
</td>
<td >
2.30%
</td>
</tr>
<tr>
<td >
KOM&Aacute;ROM-ESZTERGOM 2
</td>
<td >
45.58%
</td>
<td >
47.78%
</td>
<td >
2.20%
</td>
</tr>
<tr>
<td >
HEVES 2
</td>
<td >
46.29%
</td>
<td >
48.25%
</td>
<td >
1.96%
</td>
</tr>
<tr>
<td >
VESZPR&Eacute;M 3
</td>
<td >
46.57%
</td>
<td >
48.03%
</td>
<td >
1.46%
</td>
</tr>
<tr>
<td >
FEJ&Eacute;R 1
</td>
<td >
46.67%
</td>
<td >
47.47%
</td>
<td >
0.80%
</td>
</tr>
<tr>
<td >
VESZPR&Eacute;M 1
</td>
<td >
47.76%
</td>
<td >
47.16%
</td>
<td >
-0.61%
</td>
</tr>
<tr>
<td >
HEVES 1
</td>
<td >
47.49%
</td>
<td >
46.43%
</td>
<td >
-1.05%
</td>
</tr>
<tr>
<td >
VAS 1
</td>
<td >
48.43%
</td>
<td >
46.89%
</td>
<td >
-1.54%
</td>
</tr>
<tr>
<td >
N&Oacute;GR&Aacute;D 1
</td>
<td >
47.93%
</td>
<td >
45.83%
</td>
<td >
-2.10%
</td>
</tr>
<tr>
<td >
BORSOD-ABA&Uacute;J-ZEMPL&Eacute;N 3
</td>
<td >
47.99%
</td>
<td >
45.47%
</td>
<td >
-2.52%
</td>
</tr>
<tr>
<td >
ZALA 3
</td>
<td >
48.56%
</td>
<td >
45.83%
</td>
<td >
-2.73%
</td>
</tr>
<tr>
<td >
HAJD&Uacute;-BIHAR 1
</td>
<td >
48.45%
</td>
<td >
45.56%
</td>
<td >
-2.89%
</td>
</tr>
<tr>
<td >
BORSOD-ABA&Uacute;J-ZEMPL&Eacute;N 6
</td>
<td >
48.56%
</td>
<td >
45.63%
</td>
<td >
-2.92%
</td>
</tr>
<tr>
<td >
SZABOLCS-SZATM&Aacute;R-BEREG 2
</td>
<td >
48.46%
</td>
<td >
45.13%
</td>
<td >
-3.33%
</td>
</tr>
<tr>
<td >
SOMOGY 4
</td>
<td >
49.52%
</td>
<td >
45.11%
</td>
<td >
-4.42%
</td>
</tr>
<tr>
<td >
HAJD&Uacute;-BIHAR 2
</td>
<td >
49.31%
</td>
<td >
44.83%
</td>
<td >
-4.48%
</td>
</tr>
<tr>
<td >
HAJD&Uacute;-BIHAR 6
</td>
<td >
49.34%
</td>
<td >
44.60%
</td>
<td >
-4.74%
</td>
</tr>
<tr>
<td >
VESZPR&Eacute;M 2
</td>
<td >
49.44%
</td>
<td >
44.57%
</td>
<td >
-4.87%
</td>
</tr>
<tr>
<td >
CSONGR&Aacute;D 4
</td>
<td >
49.55%
</td>
<td >
44.63%
</td>
<td >
-4.92%
</td>
</tr>
</tbody>  
  </table>	

<br/>

<h5>Választókerületi térkép</h5>

<p>Az alábbi térkép megmutatja, hogy melyik választókerületben milyen arányban vezet a Fidesz vagy a közös ellenzéki jelölt. Minél sötétebb egy szín, annál egyértelműbb az adott oldal fölénye</p>.

<p><img src="oevk_eredmeny_2020_dec.png"></p>

</div>
</div>
</div>
  